<!DOCTYPE html>
<html>
<head>
    <title>Movie List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Movie List</h1>
        <a href="{% url 'movie_create' %}" class="btn btn-primary">Add New Movie</a>
        <ul class="list-group mt-3">
            {% for movie in movies %}
                <li class="list-group-item">
                    <a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
